@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  font-family: 'Roboto Mono', monospace;
  background: #181C21;
  color: #EB4A5F;
  margin: 0;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1em;
  width: 95%;
}

.nav-menu .navigations {
  color: #EB4A5F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.nav-menu .navigations .navelement {
  padding: 1em;
}

.nav-menu .navigations .stopwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .navigations .stopwatch-button {
  border: #888F96;
  background-color: #888F96;
  color: aliceblue;
  -webkit-box-shadow: 5px 5px 1px aliceblue;
          box-shadow: 5px 5px 1px aliceblue;
  opacity: .6;
  padding: 1em 3em;
  width: 15em;
}

.nav-menu .navigations .toggleRed {
  border: #EB4A5F;
  background-color: #EB4A5F;
  color: aliceblue;
  -webkit-box-shadow: 5px 5px 1px aliceblue;
          box-shadow: 5px 5px 1px aliceblue;
  opacity: .6;
  padding: 1em 3em;
  width: 15em;
  text-align: center;
}

.nav-menu .navigations .stopwatch-button:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  border: #7ABC5D;
  background-color: #7ABC5D;
  -webkit-box-shadow: 8px 8px #888F96;
          box-shadow: 8px 8px #888F96;
}

.nav-menu .navigations .stopwatch-count {
  margin: 0 0 0 3em;
  color: #888F96;
}

hr.divider {
  width: 99%;
}

.top {
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.top .leftside {
  color: #7ABC5D;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: .8;
  align-items: center;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top .subject-teacher {
  font-size: 2em;
}

.top .subject-code {
  font-size: 1.5em;
  opacity: .5;
}

.top .subject-elements {
  padding: .5em;
}

.logo {
  font-family: 'Palanquin Dark', sans-serif;
  color: #888F96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-left: 2em;
  width: 64px;
}

.rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.topright-elements {
  color: #7ABC5D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 1.3em;
}

.small {
  opacity: .8;
}

.small .next-lecture-time {
  color: #E7B25E;
}

.htags {
  margin: 0;
  font-weight: lighter;
}

.bottom {
  width: 95%;
}

.weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div ul {
  padding: 0;
  margin: .5em;
  text-align: center;
  list-style-type: none;
}

.weekday {
  font-size: 1.5em;
  color: azure;
  margin-bottom: 2em;
  border: 2px solid;
  padding: 1em 0em;
}

div ul li:not(.ongoing):not(.next):not(.free) {
  margin: 1em auto 1em auto;
  opacity: .6;
}

li:not(.weekday .tuesday) {
  padding: .5em 0em;
}

.free {
  color: aliceblue;
  opacity: .6;
}

.ongoing {
  color: #7ABC5D;
  font-weight: bolder;
  font-size: 2.5em;
  padding: 0;
}

.next {
  color: #E7B25E;
  font-size: 1.2em;
  padding: 0;
  opacity: .9;
}

.extend {
  width: 25%;
}

.extend .weekday {
  border: solid aliceblue;
  background-color: aliceblue;
  color: #181C21;
}
/*# sourceMappingURL=style.css.map */